html {
	color: purple;
	background-image: url("http://www.reactiongifs.com/r/hsk.gif");
}	
h1 {
	background-color: #c5f2f7;
	opacity: 0.7;
	font-family: impact;
	color: #462277;
	font-size: 40px;
	border: 3px solid #339966;
	text-align: center;
	letter-spacing: 5px;
	padding-top: 1cm;
	padding-bottom: 1cm;
	text-shadow: 2px 2px #ffff4f;
	<link rel="stylesheet" href="main.css" type="text/css"> 
}
h2 {
	color: #2d2d86;
	background-color: #cefffd;
	opacity: 0.8;
	border: 2px solid #cc6699;
	font-family: courier new;
	font-size: 35px;
	text-decoration: underline;
	text-align: center;
	letter-spacing: 10px;
}
p {
	color: #ffffff;
	background-color: #f7c5c5;
	opacity: 0.7;
	border: solid 2px #ccf7c5;
	font-family: "Verdana"; 
	font-size: 20px; 
	max-width: 600px;
	max-height: 300px;
	margin-left: 11.5cm;
	text-transform: uppercase;
	text-align: center;
	padding-top: 1cm;
	padding-bottom: 1cm;
	padding-left: 1cm;
	padding-right: 1cm;
	outline: #ffffff dotted thick;
	border-bottom: medium dotted #ff0000;
	border-top: medium dotted #0000ff
}
/* Create a new file called "main.css"
Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
Edit the main.css file
add a declaration for each element in the body of your index.html file.
add properties to style the background color of each element.
add properties to style the border of each element.
add properties to style the font and text of each element.
Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
View your index.html in the development server.
Validate your index.html file.
Validate your main.css file.
Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
Upload to the production server with sftp.
View your index.html in the production server. */
