html {
	color: blue;
	background-color: white;
}

main {
	background-color: red;
}

h1 {
	background-color: green;
	font-family: impact, charcoal bold;
	font-style: italic;
	color: yellow;
	border: solid 5px green;
	border-bottom: thick dashed #ffff00;
}

p {
	font-family: arial;
	
}

h2 {
	background-color: red;
	font-family: impact,charcoal;
	font-style: italic;
	font-size: 18px;
	border: solid 2px yellow;
	color: blue;
	padding-top: 0.5cm;
	padding-bottom: 0.5cm;
	line-height: 200%;
}

h3 {
	background-color: purple;
	color: yellow;
	font-family: arial;	
	font-size: 25px;
}
h4 {
	background-color: yellow;
	color: purple;
	font-family: arial;
	font-size: 20px;
	border-top: medium dashed purple;
}
