html {
	color: blue;
	background-color: white;
}

main {
	background-color: red;
}

h1 {
	background-color: green;
	font-family: impact, charcoal bold;
	font-style: italic;
	color: yellow;
	border: solid 5px #ffff00;
	border-bottom: solid 5px dotted #ffff00;
}

p1 {
	background-color: red;
	font-family: impact, charcoal bold;
	font-style: italic;
	border: solid 2px yellow;
}

h2 {
	background-color: purple; 
}

h3 {
	background-color: sth
}

p3 {
	color: sth
}

p4 {
	what
}
